.header .inner-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: #fff;
    border-radius: 45px;
    top: 25px;
    padding: 20px 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);

}
.header .inner-head ul{
    display: flex;
    list-style-type: none;
    margin: 0 0;
}
.header .inner-head ul li{
    margin-right: 25px;

}
.header .inner-head ul li a{
    
    text-decoration: none;
    color: var(--color-text);
}
.header .inner-head ul li a:hover{
    
    color: var(--color-two);
}

.section-one{
    background-image: url(../images/banner-bg.png) ;
    height: 100vh;
    background-size: cover;
    /* background-repeat: none; */
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;


}
.section-one .inner-box{
    width: 50%;
    margin-left: 25%;
}
.section-one .inner-box .button-one{
    background: var(--color-two);
    border-radius: 20px;
    font-size: 13px;
    padding: 12px 20px;
    letter-spacing: 0.25px;
    display: inline-block;

}

.section-one .inner-box .button-one:hover{
    background: var(--color-one);

}